article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
[hidden]{display:none}
body{margin:0;}
ol,ul{list-style:inside;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}


.browserupgrade {
  display: none;
}

a{color:#ffcc00;font-weight:400;text-decoration:none;outline: 0;}
a:hover{color:#ffeb9b;outline: 0;}

::selection {
  background: var(--white);
  color: var(--black);
  text-shadow: none;
}

.body {
  background:var(--siteBgColor);
  font-size: var(--fontSize);
  font-family: var(--headlineFontFamily);
  color: var(--mainTextColor);
}

h1,h2,h3,h4,h5,h6,header {
  font-family:var(--headlineFontFamily);
  margin: 1.5em 0 0.5em;
}


.small { font-size:var(--smallText); }
.grey { color:var(--lightgrey); }