.browserupgrade {
  display: none;
}

a{color:#ffcc00;font-weight:400;text-decoration:none;outline: 0;}
a:hover{color:#ffeb9b;outline: 0;}

::selection {
  background: var(--white);
  color: var(--black);
  text-shadow: none;
}

.body {
  background:var(--siteBgColor);
  font-size: var(--fontSize);
  font-family: var(--text);
  color: var(--white);
}

h1,h2,h3,h4,h5,h6,header {
  font-family:var(--headline);
  margin: 1.5em 0 0.5em;
}



