article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
[hidden]{display:none}
body{margin:0;}
ol,ul{list-style:inside;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}


.browserupgrade {
  display: none;
}

:any-link{color:var(--linkColor);font-weight:400;outline:0;text-decoration:none;}
:any-link:hover{outline: 0;filter: contrast(0.5) brightness(1.5);}

::selection {
  background: var(--white);
  color: var(--black);
  text-shadow: none;
}

.body {
  background:var(--siteBgColor);
  font-size: var(--fontSize);
  font-family: var(--headlineFontFamily);
  color: var(--mainTextColor);
}

h1,h2,h3,h4,h5,h6,header {
  font-family:var(--headlineFontFamily);
  margin: 1.5em 0 0.5em;
  font-weight: normal;
}


.small { font-size:var(--smallText); }
.grey { color:var(--lightgrey); }

blockquote {
	margin: 0 7px 0 5px;
	padding: 0 16px 0 10px;
	border-left-width: 5px;
	border-left-style: solid;
}

code {
	font-family: "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
	font-size: 1em;
	line-height: 1.357em;
}