:root {
  --white: #dfdfdf;
  --black: black;
  --lightgrey: #696969;
  --flint: #333;
  --active: red;
  --text: 'EB+Garamond', serif;
  --headline: 'Quicksand', sans-serif;
  --siteBgColor: #252525;
  --fontSize: 24px;
  --smallText: 0.8rem;
}


