:root {
  --white: white;
  --black: black;
  --lightgrey: #696969;
  --flint: #333;
  --active: red;
  --text: 'Indie Flower', cursive;
  --headline: 'Oswald', sans-serif;
  --siteBgColor: #252525;
  --fontSize: 16px;
}


