:root {
  --white: #dfdfdf;
  --black: black;
  --lightgrey: #696969;
  --darkGrey: #252525;
  --orange: #ffcc00;

  --headlineFontFamily: Quicksand, sans-serif;
  --textFontFamily: Merriweather, serif;
  --textLetterSpacing: .01rem;
  --textLineHeight: 1.75rem;

  --fontSize: 18px;
  --smallText: 0.8rem;
  --siteBgColor: var(--darkGrey);
  --mainTextColor: var(--white);
  --linkColor: var(--orange);
}


