.article {
  margin-bottom: 1rem;
}

.article IMG {
  max-width: 100%;
}

IMG[src*=smilies] {
  max-height: 1em;
}

.article UL LI {
  margin-bottom: 0.3em;
}

article p {
  font-family: var(--textFontFamily);
  letter-spacing: var(--textLetterSpacing);
  line-height: var(--textLineHeight);
  margin-bottom: 0.75rem;
}