.article {
  margin-bottom: 1rem;
}

.article IMG {
  max-width: 100%;
}

IMG[src*=smilies] {
  max-height: 1em;
  transition: all 100ms ease-in-out;
}

IMG[src*=smilies]:hover {
  z-index: 1;
  transition: all 200ms ease-out;
  transform: scale(2);
  image-rendering: pixelated;
}

.article UL LI {
  margin-bottom: 0.3em;
}

article p {
  font-family: var(--textFontFamily);
  letter-spacing: var(--textLetterSpacing);
  line-height: var(--textLineHeight);
  margin-bottom: 0.75rem;
}