.article {
  margin-bottom: 1rem;
}

.article IMG {
  width: 100%;
}

.article UL LI {
  line-height: 1.8rem;
}

article p {
  font-family: var(--text);
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  letter-spacing: .01rem;
  line-height: 1.75rem;
}