.siteHeader {

}

.siteHeader__logo {
  display:block;
  margin:0 auto;
  width: 20%;
  max-width: 180px;
}

.siteHeader__headline {
  text-align: center;
  color:var(--lightgrey);
  font-size: 8vw;
  margin: 0;
  /* shine effect */
  background: linear-gradient(#111 0%,#fff 50%,#111 100%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  color:transparent;
}

.siteHeader__footer {
  margin-bottom: 1rem;
}


.small { font-size:0.8rem; }
.grey { color:var(--lightgrey); }


@media (min-width: 768px) {
  .siteHeader__headline {
    font-size: 3rem;
  }
}