{% include htmlHead.html docType="default" %}

    <main class="main">

      <header class="siteHeader">
        <a href="/">
          <img class="siteHeader__logo" src="{{ '/img/icons/apple-touch-icon-120.png' | relative_url }}" alt=""/>
          <div class="siteHeader__headline">{{ site.title | default: site.github.repository_name }}</div>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        </a>
        <hr>
        <footer class="siteHeader__footer">
          <div class="small grey">by <a rel="author" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></div>
          <div class="small grey">last site update:  <time datetime="{{ site.time }}">{{ site.time | date: site.date_format }}</time></div>
        </footer>
      </header>

      <article class="article">
        {% if page.title AND page.title != "Home" %}<h1>{{ page.title }}</h1>{% endif %}

        {% if page.tags %}
          <aside>
            Tags: {% for tag in page.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}<a href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr></a>{% if forloop.last == false %},{% endif %} {% endfor %}
          </aside>
        {% endif %}

        {{ content }}
      </article>

      {% if page.date %}
      <time class="pageDate" datetime="{{ page.date | date_to_xmlschema }}">
        Post published on: {{ page.date | date: site.day_format }}
      </time>
      {% endif %}

    </main>

{% include footer.html docType="default" %}
