{% include htmlHead.html docType="default" %}

    <main class="main">

      <header class="siteHeader">
        <a href="/">
          <img class="siteHeader__logo" src="{{ '/img/icons/apple-touch-icon-120.png' | relative_url }}" alt=""/>
          <h1 class="siteHeader__headline">{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        </a>
        <hr>
        <footer class="siteHeader__footer">
          <span class="small grey">by <a rel="author" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="small grey">last site update:  <time datetime="{{ site.time }}">{{ site.time | date: site.date_format }}</time></span>
        </footer>
      </header>

      <article class="article">
        {{ content }}
      </article>

      {% if page.date %}
      <time class="pageDate" datetime="{{ page.date | date_to_xmlschema }}">
        Post published on: {{ page.date | date: site.day_format }}
      </time>

      <form onSubmit={onSubmit}>
        <input name="name" onChange={changeUserName} placeholder="Name" />
        <textArea name="message" onChange={changeuserMessage} placeholder="Message"></textArea>
        <button>Submit</button>
      </form>

      <form method="POST" action="https://api.staticman.net/v2/entry/KolyaKorruptis/kolyakorruptis.github.io/comments">
        <input name="options[redirect]" type="hidden" value="https://kolya.schwarzsilber.de">
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <label><input name="fields[name]" type="text">Name</label>
        <label><textarea name="fields[message]"></textarea>Message</label>
        <button type="submit">Go!</button>
      </form>

      {% endif %}

    </main>

{% include footer.html docType="default" %}
