{% include htmlHead.html docType="default" %}

    <main class="main">

      <header class="siteHeader">
        <a href="/">
          <img class="siteHeader__logo" src="{{ '/img/icons/apple-touch-icon-180.png' | relative_url }}" alt=""/>
          <h1 class="siteHeader__headline">{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        </a>
        <hr>
        <footer class="siteHeader__footer">
          <span class="small grey">by <a rel="author" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="small grey">last site update:  <time datetime="{{ site.time }}">{{ site.time }}</time></span>
        </footer>
      </header>


      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: '%b %-d, %Y' -%}

          {%- if page.last_modified_at -%}
              Last updated: {{ page.last_modified_at | date: date_format }}
          {%- else -%}
              Last updated: {{ page.date | date: date_format }}
          {%- endif -%}
        </time>


      <article class="article">
        {{ content }}
      </article>

      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          Originally published on: {{ page.date | date: date_format }}
        </time>


      {% if page.date %}
        <div class="pageDate">Posted on: {{ page.date }}</div>
      {% endif %}

    </main>

{% include footer.html docType="default" %}
